# DATABASE_URL="file:./dev.db"
DATABASE_URL="postgresql://user:password@localhost:5432/hydrotrack?schema=public"
PORT=3001
CORS_ORIGIN=http://localhost:5173
# CORS_ORIGIN=https://hydro-track-fxosz3bjp-mei-romneys-projects.vercel.app/
PUBLIC_API_URL=http://localhost:3001
